#contenedor-caracteristicas {
    margin: auto;
}

#contenedor-caracteristicas-primera-fila {
    margin: 2rem;
}

#contenedor-caracteristicas-segunda-fila {
    margin: 2rem;
}

.col{
    width: 18rem;
    
    padding: .5rem;
}

.card{
    margin: 1rem;
    padding: .5rem;
}