.accordion-button {
  background: rgb(7, 14, 121);
  background: linear-gradient(
    90deg,
    rgba(7, 14, 121, 1) 0%,
    rgba(0, 0, 0, 1) 60%
  );
  color: #f6f1f1 !important;
  font-size: large;
  font-weight: bold;
}

.accordion-button:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 60%,
    rgba(255, 96, 0, 1) 100%
  );
  color: #f6f1f1 !important;
  font-size: large;
  font-weight: bold;
}

.accordion-body {
  background: rgb(72, 1, 117);
  background: linear-gradient(
    41deg,
    rgba(72, 1, 117, 1) 10%,
    rgba(50, 5, 102, 1) 50%,
    rgba(43, 27, 115, 1) 100%
  );
  padding-left: 2rem;
  padding-right: 2rem;
}

.lista-comercializacion {
  padding: 0%;
}

.elemento-lista-comercializacion {
}

.titulo-elemento {
  font-weight: bold;
  color: #f6f1f1;
}

.descripcion-elemento {
  color: #f6f1f1;
}


.imagen-pagos{
  background-color: #f6f1f1;
}