#contenedor-introduccion {
  background: #FFE6C7;
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 1rem;
}

#contenedor-introduccion-titulo {
  margin: 0.2rem auto 0.1rem auto;
  text-align: center;
}

#contenedor-introduccion-resumen {
  text-align: justify;
  margin: 0.1rem 2rem 0.1rem 2rem;
  padding: 1rem;
}

#contenedor-introduccion-boton {
  text-align: center;
  margin: 0.1rem;
}

.btn-primary {
  margin-bottom: 1rem;
  background-color: #263a29;
  font-size: x-large;
  font-weight: 600;
}

.btn-primary:hover {
  margin-bottom: 1rem;
  background-color: #ff6000;
  color: black;
}
