body {
  background: #1A120B;
}

#navbar-cliente {
  background-color: #d5cea3;
  margin: auto;
}

#elementos-navbar{
  text-align: justify;
  align-items: center;
}

#imagen-logotipo {
  width: 20rem;
}

#imagenes-carrusel img{
  height: 30rem;
}

#footer {
    background: #E5E5CB;
}