#ctr-presentacion {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

#ctr-presentacion-card{
  background-color: var(--bg-white);
  border: var(--border);
  border-radius: var(--br);
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 20px 5px rgba(0,0,0,0.5);
  text-align: justify;
  margin: .5rem;
  padding: 0.3rem;
  color: #F6F1F1;
}

#ctr-presentacion-card-header {
    text-align: center;
}

#ctr-presentacion-card-body {
  font-size: large;
  font-weight: 600;
}

#ctr-presentacion-card-body a{
    text-align: center;
}

#ctr-presentacion-card-boton {
    text-align: center;
}

.btn-primary {
  background-color: #263a29;
  font-size: x-large;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #ff6000;
  color: black;
}
